/* tags global */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Righteous', sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: linear-gradient(95deg, #000000, #0f9b0f);
background-size: 300% 300%;
animation: colors 15s ease infinite;
}

/* cards do jogo */

.card {
width: 100px;
height: 100px;
justify-content: center;
transform-style: preserve-3d;
transition: transform .5s;
}

.card_back, .card_front {
width: 100%;
height: 100%;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
backface-visibility: hidden;
}

.flip {
transform: rotateY(180deg);
}

.card_front {
transform: rotateY(180deg);
background-color: #101c2c;
}

.card_back {
color: #101c2c;
background-color: #05c3ff;
font-size: 30px;
}

/* Final do jogo */

#gamerOver {
position: absolute;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
color: white;
font-size: 50px;
display: none;
justify-content: center;
align-items: center;
flex-direction: column;
top: 0;
}

#restart {
padding: 20px;
font-size: 20px;
background-color: yellow;
border: none;
border-radius: 10px;
margin-top: 15px;
}

/* Tabuleiro do jogo */

#gamerBoard {
max-width: 700px;
display: grid;
grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
gap: 20px;
}

/* animações */

@keyframes colors {

0%{
    background-position: 0% 50%;
}
50%{
    background-position: 100% 50%;
}
100%{
    background-position: 0% 50%;
}

}

@media screen and (max-width: 400px) {
   
}